.App {
	position: relative;
}
.heroSection {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/hero.png');
	height: 0;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 56.25%;
	position: relative;
}

.topbar {
	z-index: 5;
	left: 0px;
	top: 0px;
	height: 80px;
	width: 100%;
	background-color: #6600cc;
	color: #ffffff;
	font: Regular 20px/27px Segoe UI;
	display: flex;
	justify-content: right;
	align-items: center;
}

.topbar ul {
	position: absolute;
	padding: 40px;
	font-size: 20px/27px;
}

.topbar ul a {
	color: inherit;
	text-decoration: inherit;
}

.topbar ul li {
	border: 2px solid #ff8000;
	padding: 5px;
	line-height: 100%;
	border-radius: 5px;
	padding-top: 10px;
}

.CardList_section {
	/* e79d18
#094f6f
	 */
	background-color: #6600cc;
}

/* BEGIN: Media queries */

@media screen and (max-width: 728px) {
	.topbar {
		height: 40px;
	}
}

/* END: Media queries */
