.card {
	width: 448px;
	height: 240px;
	background-color: #457b9d;
	overflow: auto;
	border-radius: 25px;
	border-bottom-left-radius: 0px;
}

.card .cardInnerDiv {
	width: 416px;
	height: 208px;
	display: flex;
	gap: 8px;
	margin: 16px;
}

.imageContainer {
	width: 208px;
	height: 208px;
	border-top-left-radius: 25px;
	overflow: hidden;
}

.imageContainer > img {
	width: 100%;
	height: 100%;
}

.informationSection {
	height: 208px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.informationSection > div {
	background-color: #76aace;
	height: 48px;
	width: 200px;
}

.informationSection .top {
	height: 40px;
	border-top-right-radius: 25px;
}

.informationSection .bottom {
	border-bottom-right-radius: 25px;
	height: 48px;
}
