.Filter {
	margin: 10px 10px;
	padding-top: 10px;
	margin-bottom: 50px;
	color: #ffffff;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 40px;
}
/* BEGIN: input text group  */
.Filter__form-group {
	position: relative;
	padding: 25px 0 0;
	width: 90%;
}

.Filter__input-text-group {
	display: flex;
	flex: repeat(auto-fit, 1fr);
	gap: 16px;
}

.Filter__text-input {
	width: 100%;
	border: 2px solid #ff8000;
	border-radius: 5px;
	outline: 0;
	font-size: 1.3rem;
	color: #ffffff;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.3s;
	padding-left: 7px;
}

.Filter__text-input::placeholder {
	color: transparent;
}
.Filter__text-input:placeholder-shown ~ .Filter__form-label {
	font-size: 1.3rem;
	cursor: text;
	top: 30px;
	border-radius: 5px;
}

.Filter__form-label {
	position: absolute;
	top: 0px;
	left: 10px;
	display: block;
	transition: 0.3s;
	font-size: 1rem;
	color: #ffffff;
}

.Filter__text-input:focus {
	padding-bottom: 6px;
	font-weight: 700;
	border-image: linear-gradient(to right, #ffffff, #ffffff);
	border-image-slice: 1;
	border-radius: 5px;
}

.Filter__text-input:focus ~ .Filter__form-label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	transition: 0.3s;
	font-size: 1rem;
	color: #ffffff;
	font-weight: 700;
}

/* END: input text group */

/* BEGIN: radio area */
.Filter__radio-area {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 10px;
}

.Filter__radio-gender,
.Filter__radio-status {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.Filter__radio-container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.Filter__radio-div {
	display: flex;
	gap: 4px;
}

.Filter__radio-div input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 24px;
	width: 24px;
	border: 2px solid #ff8000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border-color 0.4s ease;
}

.Filter__radio-div input:checked {
	border-color: #ffffff;
}

.Filter__radio-div input:focus {
	border-color: #ffffff;
}

.Filter__radio-div input::after {
	content: '';
	width: 14px;
	height: 14px;
	background-color: #ffffff;
	display: block;
	border-radius: 50%;
	position: absolute;
	transform: scale(0);
	transition: transform 0.4s ease;
}

.Filter__radio-div input:checked::after {
	content: '';
	transform: scale(1);
	background-color: #ffffff;
}

.Filter__radio-div label {
	display: inline-block;
	line-height: 24px;
	vertical-align: top;
	margin-left: 10px;
}

/* END: radio area */

/* BEGIN: Media queries for mobile */
@media screen and (max-width: 448px) {
	.Filter {
		width: 100%;
		margin: 0 auto;
		padding-top: 10px;
		margin-bottom: 50px;
	}

	.Filter__form-group {
		margin: 0 5%;
	}
}

@media screen and (max-width: 1280px) {
	.Filter__input-text-group {
		flex-direction: column;
		align-items: center;
	}

	.Filter {
		width: unset;
	}

	.Filter__radio-area {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;
		width: 90%;
		margin: 0 auto;
	}

	.Filter__radio-gender {
		display: grid;
	}
}

/* END: Media queries for mobile */
